<nav class="navbar navbar-expand-sm navbar-dark fixed-bottom row" style="background-color: rgb(0, 36, 92);">
    <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav row d-flex mx-auto">
                <li class="nav-item col col-auto">
                    <a class="nav-link" href="/">Board</a>
                </li>
                <li class="nav-item col col-auto">
                    <a class="nav-link" href="/cardDeck">Deck</a>
                </li>
                <li class="nav-item col col-auto">
                    <a class="nav-link" href="/characterProfile">Characters</a>
                </li>
                <li class="nav-item col col-auto">
                    <a class="nav-link" href="/traits">Traits</a>
                </li>
            </ul>
        </div>
    </div>
</nav>